<div class="main-container">
     <div class="container bg-light" [ngStyle]="{ maxWidth: screenWidth + 'px' }">
          <div class="row justify-content-start">
               <div class="col-12">
                    <div class="row section-row">
                         <div class="col-3 left-sidebar">
                              <app-left-menubar></app-left-menubar>
                         </div>
                         <div class="col-6 middle-container">
                              <app-main-menubar></app-main-menubar>
                         </div>
                         <div class="col-3 right-sidebar">
                              <app-right-menubar></app-right-menubar>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
