<div class="container bg-light">
     <div class="row py-1 my-1">
          <div class="col-12 my-1">
               <div>Emoji Picker Example</div>
          </div>
          <div class="col-12 my-1">
               <div class="row">
                    <div class="col-md-6">
                         {{ selectedEmoji }}
                    </div>
               </div>
          </div>
     </div>
     <div class="row py-3 my-1">
          <div class="col-6 pt-2">
               <!-- prettier-ignore -->
               <app-custom-emoji 
                    [marginLeft]="'0px'" 
                    (onSelectEmoji)="getSelectedEmoji($event)"
                    [buttonHtml]="emojiButton"
                    >
               </app-custom-emoji>
          </div>
     </div>
</div>
