<div class="container bg-light">
     <div class="row py-1 my-1">
          <div class="col-12 my-1">
               <div>Emoji Picker Example</div>
          </div>
          <div class="col-12 my-1">
               <div class="row">
                    <div class="col-md-6">
                         <div class="preview-emoji">
                              {{ selectedEmoji }}
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="row py-3 my-1">
          <div class="col-6 pt-2">
               <!-- prettier-ignore -->
               <app-custom-emoji 
                    [marginX]="'60px'" 
                    [marginY]="'60px'" 
                    [emojiId]="'MyCustomEmoji'"
                    [iconClass]="'far fa-grin-alt'"
                    (onSelectEmoji)="getSelectedEmoji($event)"
                    >
               </app-custom-emoji>
          </div>
     </div>
</div>
