$cursiveFugazOne : 'Fugaz One';
$cursiveFontFamily : 'cursive';

.homepage {
  overflow: hidden;
}

.top-section {

  width: 100%;
  padding-bottom: 100px;
  background-image: url('../../assets/Image/home/photo/header-hero-crop.jpg');

  .home-page-header {
    top: 0;
    width: 100%;
    position: fixed;
    transition: 400ms;
    z-index: 100;



    .header {
      display: flex;
      justify-content: space-between;
      padding: 8px 0px;

      .header-image {
        img {
          height: 50px;
        }
      }

      .action-button {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;

        .link-button {
          margin-top: auto;
          margin-bottom: auto;
          font-size: 16px;
          font-weight: 800;

          a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            margin-right: 10px;
            color: #818181;
            text-decoration: none;
            transition: all .3s ease-out 0s;
            font-family: 'Radio Canada', sans-serif;
          }

          a:hover {
            transition: 200ms;
            color: #353539;
          }

        }

        .tag-button {
          width: 100%;
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
          justify-content: flex-end;

          .btn {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border: none;
            padding: 6px 16px;
            background-color: #483d8b;
            border-radius: 25px;
            color: white;

          }

          .create-network-button {
            margin-right: 10px;
          }

          .login-button {
            .login-icon {
              margin-left: 10px;
            }
          }

          .btn:hover {
            transition: 200ms;
            background-color: #352c6b;
          }

          .btn:focus,
          .btn.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
          }

          .menu-button {
            display: none;
            font-size: 28px;
            margin-top: 4px;
            margin-left: 16px;
            color: grey;
            cursor: pointer;
          }

          .menu-button:hover {
            color: #353539;
            transition: 200ms;
          }
        }



      }
    }
  }

  .home-page-header:hover {
    transition: 400ms !important;
    background-color: white !important;
    box-shadow: 10px 10px 10px #c1bfbf !important;
  }

  .header-row {
    margin: 0px;
    padding: 0px;

    .network-short-info {
      .container {
        padding-top: 100px;
      }

      .network-info-text {
        line-height: 1.08;

        .your-text {
          font-size: 45px;
          font-weight: 500;
          font-family: $cursiveFugazOne, $cursiveFontFamily;

        }

        .network-text {
          font-size: 50px;
          font-weight: 700;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
          color: #483d8b;
        }

        .partner-text {
          font-size: 45px;
          color: #444444;
          font-weight: normal;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }

        .to-text {
          font-size: 45px;
          font-weight: normal;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }



        .create-text {
          font-size: 50px;
          font-weight: 700;
          color: #444444;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }

        .learn-text {
          font-size: 50px;
          font-weight: 700;
          color: #444444;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }

        .sell-text {
          font-size: 50px;
          font-weight: 700;
          color: #444444;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }

        .and-text {
          font-size: 45px;
          font-weight: 600;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
        }

        .explore-text {
          font-size: 50px;
          font-weight: 600;
          font-family: $cursiveFugazOne, $cursiveFontFamily;
          color: #483d8b;
        }
      }

      .network-inline-info {
        padding: 40px 10px;

        p {
          font-size: 16px;
          line-height: 1.5;
          color: grey;
        }
      }

      .explore-input-field {
        padding: 50px 10px;

        input {
          border-radius: 50px;
          font-size: 18px;
        }

        .explore-button {
          button {
            float: right;
            border-radius: 50px;
            color: white;
            padding: 8px 25px;
            margin-top: -42px;
            background-color: darkslateblue;
          }
        }
      }
    }

    .network-hero-image {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.middle-section-first {

  min-height: 100vh;
  background-color: #edf3f6;

  .tabbar-column {
    .our-service {
      font-size: 20px;
      color: #4f4fa5;
      padding: 16px 0px;
    }

    .tab-network-bussiness-text {
      line-height: 1.4;

      .tab-network-text {
        font-size: 45px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .tab-business-text {
        font-size: 40px;
        font-weight: 500;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }
    }

  }

  .commerce-bussiness-groth-column {
    .e-commerce-bussiness-groth-text {
      line-height: 1.2;

      .e-commerce-text {
        font-size: 45px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .business-text {
        font-size: 40px;
        font-weight: 500;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }
    }

    .inline-text {
      font-size: 16px;
      color: grey;
      line-height: 1.4;
      padding: 16px 0px;
    }
  }

  .edu-network-online-class-column {
    .edu-network-online-class-text {
      line-height: 1.2;

      .edu-network-text {
        font-size: 45px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .online-class-text {
        font-size: 40px;
        font-weight: 500;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }
    }

    .inline-text {
      font-size: 16px;
      color: grey;
      line-height: 1.4;
      padding: 16px 0px;
    }
  }

  .tabbar-button {
    display: flex;
    justify-content: center;

    border-bottom: 2px solid #b5b4b4;
    margin: 0px 50px;

    .e-commerce-network {
      color: red;
      display: flex;
      justify-content: center;
      border-bottom: 3px solid #6150c8;

      cursor: pointer;

      .tab-icon {
        font-size: 35px;
        padding: 2px 2px 10px 10px;
      }

      .button-text {
        font-size: 25px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .education-network {
      display: flex;
      color: grey;
      justify-content: center;

      cursor: pointer;

      .tab-icon {
        font-size: 35px;
        padding: 2px 2px 10px 10px;
      }

      .button-text {
        font-size: 25px;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

}

.middle-section-second {
  min-height: 30vh;
  background-color: #edf3f6;


  .why-us-column {
    padding: 8px 20px;

    .why-us-text {
      font-size: 20px;
      color: #4f4fa5;
      padding: 16px 0px;
    }
  }

  .inline-text {
    line-height: 1.2;

    .reasons-text {
      font-size: 40px;
      font-weight: normal;
      color: #483d8b;
      font-family: $cursiveFugazOne, $cursiveFontFamily;
    }

    .as-your-network-text {
      .as-your-text {
        font-size: 35px;
        font-weight: normal;
        color: #444444;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .network-text {
        font-size: 40px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .partner-text {
        font-size: 35px !important;
        font-weight: normal;
        color: #444444;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }
    }
  }

}

.middle-section-third {
  min-height: 50vh;
  background-color: #edf3f6;

  .features-and-customize-card-column {
    padding: 30px 10px;

    .features-and-customize-card {
      padding: 16px;
      min-height: 300px;
      background-color: #edf3f6;
      border: none;

      .feature-column {
        min-height: 200px;

        .feature-title {
          padding: 16px 10px;
          display: flex;
          justify-content: flex-start;

          .title-icon {
            color: #483d8b;
            font-size: 30px;
          }

          .title-text {
            font-size: 24px;
            color: grey;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 8px;
            font-weight: normal;
            color: #483d8b;
            font-family: $cursiveFugazOne, $cursiveFontFamily;
          }
        }

        .feature-description {
          font-size: 15px;
          color: grey;
        }
      }
    }
  }


}

.middle-section-fourth {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #edf3f6;

  .pricing-plan-column {
    .pricing-plan-text {
      font-size: 20px;
      color: #4f4fa5;
      padding: 16px 0px;
    }
  }

  .providing-business-column {
    .providing-business-text {
      line-height: 1.2;

      .providing-text {
        font-size: 40px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .business-text {
        font-size: 35px !important;
        font-weight: normal;
        color: #444444;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

    }
  }

  .pricing-column {
    .pricing-inner-column {
      padding-top: 80px;
    }

  }

  .pricing-middle-card {
    padding: 0px 60px;

    .pricing-card-column {
      display: flex;
      justify-content: center;

      .pricing-plan-card {
        padding: 80px 20px;
        min-height: 600px;
        max-width: 400px;
        background-color: #edf3f6;
        border: none;
      }
    }

  }

}

.middle-section-fifth {
  min-height: 40vh;
  padding-top: 100px;
  background-color: #edf3f6;

  .contact-details-column {
    display: flex;
    justify-content: center;

    .our-contact-text {
      font-size: 20px;
      color: #4f4fa5;
      padding: 16px 0px;
    }

    .get-in-touch-text {
      .get-in-text {
        font-size: 30px;
        font-weight: 700;
        color: #483d8b;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }

      .touch-text {
        font-size: 30px;
        font-weight: normal;
        color: #444444;
        font-family: $cursiveFugazOne, $cursiveFontFamily;
      }
    }
  }

  .contact-location-mail-phone-column {
    min-height: 100px;


    .contact-location {
      display: flex;
      justify-content: flex-start;

      .location-icon {
        padding: 16px 10px;

        .icon {
          padding: 10px 16px;
          color: white;
          border-radius: 500%;
          background-color: black;
          font-size: 24px;
        }
      }

      .location-text {
        line-height: 1.4;
        padding: 6px 0px;
      }
    }

    .contact-mail {
      display: flex;
      justify-content: flex-start;

      .mail-icon {
        padding: 16px 10px;

        .icon {
          padding: 10px 14px;
          color: white;
          border-radius: 500%;
          background-color: #ff0052;
          font-size: 24px;
        }
      }

      .mail-text {
        line-height: 0.8;
        padding: 6px 0px;
      }
    }

    .contact-phone {
      display: flex;
      justify-content: flex-start;

      .phone-icon {
        padding: 16px 10px;

        .icon {
          padding: 10px 14px;
          color: white;
          border-radius: 500%;
          background-color: #3087ff;
          font-size: 24px;
        }
      }

      .phone-text {
        line-height: 0.8;
        padding: 6px 0px;
      }
    }
  }
}

.footer-section {
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 200px;
  background-color: #edf3f6;

  .leave-a-message-column {
    .message-icon {
      color: #483d8b;
      font-size: 30px;
      padding-right: 10px;
    }

    .leave-text {
      font-size: 28px;
      font-weight: normal;
      color: #483d8b;
      font-family: $cursiveFugazOne, $cursiveFontFamily;
    }

    .a-message-text {
      font-size: 28px;
      font-weight: normal;
      color: #313030;
      font-family: $cursiveFugazOne, $cursiveFontFamily;
    }

  }

  .title {

    label {
      padding: 0px 0px;
      font-size: 16px;
      color: #313030;
    }

    input {
      height: 60px;
      border: none;
    }

    textarea {
      border: none;
    }
  }
}



// ----------------------------------------------------------------------------------------
.home-page-sidebar {
  width: 280px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 120;
  transition: 500ms;
  margin-left: -280px;
  background-color: #483d8b;

  .header-row {
    background-color: #edf3f6;
    padding: 13px 0px;
  }

  .sidebar-header {
    display: flex;
    justify-content: start;

    .navigation-back-icon {
      padding-top: 10px;

      span {
        font-size: 20px;
        color: #483d8b;
        padding: 10px
      }
    }

    .application-icon {
      img {
        height: 40px;
      }
    }
  }

  .button-text {
    color: white;
    font-size: 18px;
    padding: 12px 8px;

    a {
      color: white;
      text-decoration: none;
      transition: all .3s ease-out 0s;
      font-family: 'Radio Canada', sans-serif;
      display: flex;
      justify-content: flex-start;

      .button-icon {
        width: 24px;
        margin-right: 10px;
      }
    }
  }

  .button-row:hover {
    transition: 200ms;
    background-color: #b7d5ec !important;

    a {
      color: #484848;
    }
  }
}

.header-mobile-image {
  display: none;
}

// ----------------------------------------------------------------------------------------
// @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }
@media (max-width: 1200px) {

  .network-text,
  .explore-text {
    font-size: 45px !important;

  }

  .your-text,
  .create-text,
  .learn-text,
  .sell-text,
  .and-text,
  .partner-text,
  .to-text {
    font-size: 40px !important;
    ;
  }

}

@media (max-width: 992px) {
  .link-button {
    a {
      display: none;
    }
  }

  .menu-button {
    display: inline-block !important;
  }

  .network-text,
  .explore-text {
    font-size: 55px !important;

  }

  .your-text,
  .create-text,
  .learn-text,
  .sell-text,
  .and-text,
  .partner-text,
  .to-text {
    font-size: 50px !important;
    ;
  }

}

@media (max-width: 768px) {
  .create-network-button {
    display: none;

  }

  .e-commerce-network {
    .tab-icon {
      display: none;
    }

    .button-text {
      font-size: 18px !important;
    }
  }

  .education-network {
    .tab-icon {
      display: none;
    }

    .button-text {
      font-size: 18px !important;
    }
  }

  .network-text,
  .explore-text {
    font-size: 50px !important;

  }

  .your-text,
  .create-text,
  .learn-text,
  .sell-text,
  .and-text,
  .partner-text,
  .to-text {
    font-size: 45px !important;
    ;
  }

  .pricing-middle-card {
    padding: 0px 20px !important;
  }

}

@media (max-width: 480px) {
  .header-window-image {
    display: none;
  }

  .header-mobile-image {
    display: inline-block !important;
  }

  .e-commerce-network {
    .tab-icon {
      display: none;
    }

    .button-text {
      font-size: 14px !important;
    }
  }

  .education-network {
    .tab-icon {
      display: none;
    }

    .button-text {
      font-size: 14px !important;
    }
  }

  .network-text,
  .explore-text {
    font-size: 35px !important;

  }

  .your-text,
  .create-text,
  .learn-text,
  .sell-text,
  .and-text,
  .partner-text,
  .to-text {
    font-size: 30px !important;
    ;
  }

  .commerce-bussiness-groth-column {
    padding: 36px 10px;

    .e-commerce-bussiness-groth-text {
      .e-commerce-text {
        font-size: 35px !important;
      }

      .business-text {
        font-size: 30px !important;
      }
    }

    .inline-text {
      font-size: 14px !important;
    }
  }

  .edu-network-online-class-column {
    padding: 36px 10px;

    .edu-network-online-class-text {
      .edu-network-text {
        font-size: 35px !important;
      }

      .online-class-text {
        font-size: 30px !important;
      }
    }

    .inline-text {
      font-size: 14px !important;
    }
  }

  .pricing-middle-card {
    padding: 0px 6px !important;
  }

}
