<div class="homepage">
     <div class="top-section">
          <!-- ---------------------------------------------------------------------------------------- -->
          <header id="homepage-header" class="home-page-header">
               <div class="container">
                    <div class="row">
                         <div class="col-md-12">
                              <div class="header">
                                   <div class="header-image">
                                        <img src="../../assets/Image/home/photo/workstudio-logo-full.png" alt="" />
                                   </div>
                                   <div class="action-button">
                                        <a href="#">
                                             <b class="mx-4">
                                                  <span>Home</span>
                                             </b>
                                        </a>
                                        <a href="#">
                                             <b class="mx-4">
                                                  <span> Services </span>
                                             </b>
                                        </a>
                                        <a href="#">
                                             <b class="mx-4">
                                                  <span> Why Us </span>
                                             </b>
                                        </a>
                                        <a href="#">
                                             <b class="mx-4">
                                                  <span> Pricing </span>
                                             </b>
                                        </a>
                                        <a href="#">
                                             <b class="mx-4">
                                                  <span> Contact </span>
                                             </b>
                                        </a>
                                        <button class="btn btn-primary mr-2">Create your Network</button>
                                        <button class="btn btn-primary">Login</button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </header>
          <!-- ---------------------------------------------------------------------------------------- -->

          <div class="row header-row">
               <div class="col-md-12">
                    <div style="height: 160px"></div>
               </div>
               <div class="col-md-6 network-short-info">
                    <div class="container">
                         <div class="row justify-content-end">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-10 network-info-text">
                                   <div>
                                        <span class="your-text">Your&nbsp;</span>
                                        <span class="network-text">Network&nbsp;</span>
                                        <span class="partner-text">Partner to&nbsp;</span>
                                   </div>
                                   <div>
                                        <span class="create-text">Create.&nbsp;</span>
                                        <span class="learn-text">Learn.&nbsp;</span>
                                        <span class="sell-text">Sell.&nbsp;</span>
                                   </div>
                                   <div>
                                        <span class="and-text">&&nbsp;</span>
                                        <span class="explore-text">Explore&nbsp;</span>
                                   </div>
                              </div>
                         </div>
                         <div class="row justify-content-end">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-10 mt-3">
                                   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum velit illo maxime magni voluptatum corrupti atque, accusantium non impedit excepturi! Ipsa animi nihil alias neque vel facilis a soluta temporibus.</p>
                              </div>
                         </div>
                         <div class="row justify-content-end">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-10 mt-4">
                                   <input type="text" class="form-control" placeholder="username@gmail.com" />
                              </div>
                         </div>
                    </div>
               </div>
               <div data-aos="fade-left" data-aos-duration="2000" class="col-md-6 network-hero-image">
                    <img src="../../assets/Image/home/photo/hero-image1.png" alt="" />
               </div>
          </div>
     </div>

     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-first">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
                    <div class="col-md-12">
                         <div class="text-center">
                              <span> OUR SERVICES </span>
                         </div>
                         <div class="text-center">
                              <b>Networks </b>
                              <span> to spread Your Business </span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
                    <div class="col-md-12">
                         <div style="display: flex; justify-content: center">
                              <div class="e-commerce-network mx-2">
                                   <b> E-Commerce Network </b>
                              </div>
                              <div class="education-network mx-2">
                                   <b>Education Network</b>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-6">
                         <img src="../../assets/Image/home/photo/our-service-1.jpg" alt="" />
                    </div>
                    <div class="col-md-6">
                         <div class="px-3">
                              <div>
                                   <b>E- Commerce Network </b>
                                   <span> for Your Business Growth. </span>
                              </div>
                              <br />
                              <div>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.</p>
                              </div>
                              <br />
                              <div>
                                   <p>In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-6">
                         <img src="../../assets/Image/home/photo/our-service-2.jpg" alt="" />
                    </div>
                    <div class="col-md-6">
                         <div class="px-3">
                              <div>
                                   <b>Education Network </b>
                                   <span> for online classes. </span>
                              </div>
                              <br />
                              <div>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.</p>
                              </div>
                              <br />
                              <div>
                                   <p>In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-second">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <span> WHY US </span>
                    </div>
                    <div class="col-md-12">
                         <b>The reasons to choose us </b>
                         <span>as your </span>
                         <b>Network </b>
                         <span>partner </span>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-third">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="card shadow features-and-customize-card">
                              <div class="row">
                                   <div class="col-md-4">
                                        <b>User Friendly Features</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                                   <div class="col-md-4">
                                        <b>Easy to Customize</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                                   <div class="col-md-4">
                                        <b>Quality Support</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->

     <div class="middle-section-fourth">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="text-center">
                              <span>PRICING PLAN</span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div class="text-center">
                              <b>Providing Best Pricing </b>
                              <span> For Your Business.</span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">
                                        <div class="card pricing-plan-card shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-fifth">
          <div class="container">
               <div class="row">
                    <div class="col-md-12" style="display: flex; justify-content: center">
                         <div class="contact-details">
                              <b>OUR CONTACT</b>
                         </div>
                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: center">
                         <div class="contact-details"><b>Get In </b><span> Touch.</span></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b>Location</b>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b>Mail</b>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b>Phone</b>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->

     <div class="footer-section">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <h1>Leave A Message</h1>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-6">
                         <div class="title">
                              <label for="">Enter Your Name</label>
                              <input type="text" class="form-control" placeholder="Full Name" />
                         </div>
                    </div>

                    <div class="col-md-6">
                         <div class="title">
                              <label for="">Enter Your Name</label>
                              <input type="text" class="form-control" placeholder="Email" />
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div class="title">
                              <label for="">Your Message</label>
                              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Enter your message..."></textarea>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
