<div class="homepage">
     <div class="top-section">
          <!-- ---------------------------------------------------------------------------------------- -->
          <header id="homepage-header" class="home-page-header">
               <div class="container">
                    <div class="row">
                         <div class="col-md-12">
                              <div class="header">
                                   <div class="header-image">
                                        <img class="header-window-image" src="../../assets/Image/home/photo/workstudio-logo-full.png" alt="" />
                                        <img class="header-mobile-image" src="../../assets/Image/home/photo/logo-bt.png" alt="" />
                                   </div>
                                   <div class="action-button">
                                        <div class="link-button">
                                             <a href="#">
                                                  <span>Home</span>
                                             </a>
                                             <a href="#">
                                                  <span>Services</span>
                                             </a>
                                             <a href="#">
                                                  <span>Why Us</span>
                                             </a>
                                             <a href="#">
                                                  <span>Pricing</span>
                                             </a>
                                             <a href="#">
                                                  <span>Contact</span>
                                             </a>
                                        </div>
                                        <div class="tag-button">
                                             <button class="btn create-network-button">
                                                  <span> Create your Network </span>
                                             </button>
                                             <button class="btn login-button">
                                                  <span class="login-text"> Login </span>
                                             </button>
                                             <span #sidebarButton (click)="showHideSidebar(true)" class="menu-button">
                                                  <i class="fas fa-align-right"></i>
                                             </span>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </header>
          <!-- ---------------------------------------------------------------------------------------- -->

          <div class="row header-row">
               <div class="col-md-12">
                    <div style="height: 140px"></div>
               </div>
               <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 network-short-info">
                    <div class="container">
                         <div class="row justify-content-end">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-10 network-info-text">
                                   <div>
                                        <span class="your-text">Your&nbsp;</span>
                                        <span class="network-text">Network&nbsp;</span>
                                   </div>
                                   <div>
                                        <span class="partner-text">Partner &nbsp;</span>
                                        <span class="to-text">to&nbsp;</span>
                                   </div>
                                   <div>
                                        <span class="create-text">Create.&nbsp;</span>
                                        <span class="learn-text">Learn.&nbsp;</span>
                                        <span class="sell-text">Sell.&nbsp;</span>
                                   </div>
                                   <div>
                                        <span class="and-text">&&nbsp;</span>
                                        <span class="explore-text">Explore !&nbsp;</span>
                                   </div>
                              </div>
                         </div>
                         <div class="row justify-content-center">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-8 network-inline-info">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget urna congue, vulputate massa id, iaculis libero.</p>
                              </div>
                         </div>
                         <div class="row justify-content-center">
                              <div data-aos="fade-up" data-aos-duration="2000" class="col-md-8 explore-input-field">
                                   <div class="input-field">
                                        <input type="text" class="form-control" placeholder="username@gmail.com" />
                                   </div>
                                   <div class="explore-button">
                                        <button class="btn">EXPLORE</button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div data-aos="fade-left" data-aos-duration="2000" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 network-hero-image">
                    <img width="100%" src="../../assets/Image/home/photo/hero-image1.png" alt="" />
               </div>
          </div>
     </div>

     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-first">
          <div data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 120px"></div>
                    </div>
                    <div class="col-md-12 tabbar-column">
                         <div class="text-center our-service">
                              <span> OUR SERVICES </span>
                         </div>
                         <div class="text-center tab-network-bussiness-text">
                              <span class="tab-network-text">Networks </span>
                              <span class="tab-business-text"> to spread Your Business </span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
                    <div class="col-md-12">
                         <div class="tabbar-button">
                              <div data-aos="fade-down-right" data-aos-duration="1000" (click)="eCommerceNetwork()" class="e-commerce-network">
                                   <div class="tab-icon">
                                        <i class="fas fa-briefcase"></i>
                                   </div>
                                   <div class="button-text">
                                        <span> E-Commerce Network </span>
                                   </div>
                              </div>
                              <div data-aos="fade-down-left" data-aos-duration="1000" (click)="educationNetwork()" class="education-network">
                                   <div class="tab-icon">
                                        <i class="fas fa-graduation-cap"> </i>
                                   </div>
                                   <div class="button-text">
                                        <span> Education Network </span>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row" data-aos="fade-up-right" data-aos-duration="1000" *ngIf="!isShowEducationNetworkBanner">
                    <div class="col-md-6">
                         <img width="100%" src="../../assets/Image/home/photo/our-service-1.jpg" alt="" />
                    </div>
                    <div class="col-md-6 commerce-bussiness-groth-column">
                         <div class="px-3">
                              <div class="e-commerce-bussiness-groth-text">
                                   <span class="e-commerce-text">E- Commerce Network </span>
                                   <span class="business-text"> for Your Business Growth. </span>
                              </div>
                              <br />
                              <div class="inline-text">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.</p>
                              </div>
                              <br />
                              <div class="inline-text">
                                   <p>In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis.</p>
                              </div>
                         </div>
                    </div>
               </div>

               <div data-aos="fade-up-left" data-aos-duration="1000" *ngIf="isShowEducationNetworkBanner" class="row">
                    <div class="col-md-6">
                         <img width="100%" src="../../assets/Image/home/photo/our-service-2.jpg" alt="" />
                    </div>
                    <div class="col-md-6 edu-network-online-class-column">
                         <div class="px-3">
                              <div class="edu-network-online-class-text">
                                   <span class="edu-network-text">Education Network </span>
                                   <span class="online-class-text"> for online classes. </span>
                              </div>
                              <br />
                              <div class="inline-text">
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.</p>
                              </div>
                              <br />
                              <div class="inline-text">
                                   <p>In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-second">
          <div data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12">
                         <span> WHY US </span>
                    </div>
                    <div class="col-md-12">
                         <b>The reasons to choose us </b>
                         <span>as your </span>
                         <b>Network </b>
                         <span>partner </span>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-third">
          <div data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div data-aos="fade-up" data-aos-duration="1000" class="card shadow features-and-customize-card">
                              <div class="row">
                                   <div class="col-md-4">
                                        <b> <i class="far fa-lightbulb"></i> User Friendly Features</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                                   <div class="col-md-4">
                                        <b><i class="fas fa-align-left"></i> Easy to Customize</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                                   <div class="col-md-4">
                                        <b><i class="far fa-grin-alt"></i> Quality Support</b>
                                        <br />
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus magni rerum qui deleniti, rem, cum debitis labore ratione impedit provident aut nisi pariatur. Harum, eos alias. Suscipit facere iste nesciunt.</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->

     <div class="middle-section-fourth">
          <div data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="text-center">
                              <span>PRICING PLAN</span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div class="text-center">
                              <b>Providing Best Pricing </b>
                              <span> For Your Business.</span>
                         </div>
                    </div>
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">
                                        <div data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="card pricing-plan-card shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, temporibus labore alias sunt, harum tenetur quam dolorum qui eaque accusamus rem veniam ab quod explicabo! Molestiae voluptatum quam ducimus? Consequuntur!</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->
     <div class="middle-section-fifth">
          <div data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12" style="display: flex; justify-content: center">
                         <div class="contact-details">
                              <b>OUR CONTACT</b>
                         </div>
                    </div>
                    <div class="col-md-12" style="display: flex; justify-content: center">
                         <div class="contact-details"><b>Get In </b><span> Touch.</span></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div style="height: 60px"></div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b> <i class="fas fa-map-marker-alt"></i> Location</b>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b><i class="fas fa-envelope-open-text"></i> Mail</b>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="contact-details">
                              <b><i class="fas fa-phone-alt"></i> Phone</b>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- --------------------------------------------------------------------------------------------------- -->

     <div class="footer-section">
          <div data-aos-offset="500" data-aos="fade-up" data-aos-duration="1000" class="container">
               <div class="row">
                    <div class="col-md-12">
                         <h1><i class="far fa-envelope"></i> Leave A Message</h1>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-6">
                         <div class="title">
                              <label for="">Enter Your Name</label>
                              <input type="text" class="form-control" placeholder="Full Name" />
                         </div>
                    </div>

                    <div class="col-md-6">
                         <div class="title">
                              <label for="">Enter Your Name</label>
                              <input type="text" class="form-control" placeholder="Email" />
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-md-12">
                         <div class="title">
                              <label for=""> <i class="fas fa-comment-alt-lines"></i> Your Message</label>
                              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Enter your message..."></textarea>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<!-- ---------------------------------------------------------------------------------------- -->
<div #homepageSidebar id="homepage-sidebar" class="home-page-sidebar">
     <div class="container">
          <div class="row header-row">
               <div class="col-md-12">
                    <div class="sidebar-header">
                         <div class="application-icon">
                              <img src="../../assets/Image/home/photo/workstudio-logo-full.png" alt="" />
                         </div>
                         <div class="navigation-back-icon">
                              <span (click)="showHideSidebar(false)">
                                   <i class="fas fa-times"></i>
                              </span>
                         </div>
                    </div>
               </div>
          </div>
          <div class="row button-row">
               <div class="col-md-12">
                    <div class="button-text">
                         <a href="">
                              <span class="button-icon">
                                   <i class="fas fa-home"></i>
                              </span>
                              <span>Home</span>
                         </a>
                    </div>
               </div>
          </div>
          <div class="row button-row">
               <div class="col-md-12">
                    <div class="button-text">
                         <a href="">
                              <span class="button-icon">
                                   <i class="fas fa-user-cog"></i>
                              </span>
                              <span>Services</span>
                         </a>
                    </div>
               </div>
          </div>
          <div class="row button-row">
               <div class="col-md-12">
                    <div class="button-text">
                         <a href="">
                              <span class="button-icon">
                                   <i class="fas fa-question"></i>
                              </span>
                              <span>Why Us</span>
                         </a>
                    </div>
               </div>
          </div>
          <div class="row button-row">
               <div class="col-md-12">
                    <div class="button-text">
                         <a href="">
                              <span class="button-icon">
                                   <i class="fas fa-dollar-sign"></i>
                              </span>
                              <span>Pricing</span>
                         </a>
                    </div>
               </div>
          </div>
          <div class="row button-row">
               <div class="col-md-12">
                    <div class="button-text">
                         <a href="">
                              <span class="button-icon">
                                   <i class="fas fa-phone-alt"></i>
                              </span>
                              <span>Contact</span>
                         </a>
                    </div>
               </div>
          </div>
     </div>
</div>
